import { defineComponent } from 'vue';
import useController from './useController';

const View = defineComponent({
  setup() {
    const controller = useController();
    const { service } = controller;
    const { model } = service;

    return () => <div>{model.form.data}</div>;
  },
});

export default View;
