{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "eslintIntegration": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "endOfLine": "auto"
}