.vscode/**
.vscode-test/**
out/test/**
src/**
webview-vue/**
webview-react/**
webview-angular/**
webview-vue-webpack/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.lock
webpack.config.js

node_modules
!node_modules/prettier
!node_modules/copy-paste
!node_modules/iconv-lite
!node_modules/safer-buffer
!node_modules/typescript