.vscode/**
.vscode-test/**
out/test/**
src/**
materials/**
webview-vue/**
webview-react/**
webview-angular/**
webview-vue-webpack/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
*.lock
*.vsix
.lowcoderc
esbuild.js

node_modules