.vscode/**
.vscode-test/**
out/test/**
src/**
webview-vue/**
webview-react/**
webview-angular/**
webview-vue-webpack/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.lock
*.vsix
webpack.config.js

node_modules
!node_modules/prettier
!node_modules/copy-paste
!node_modules/iconv-lite
!node_modules/safer-buffer
!node_modules/typescript-json-schema
!node_modules/glob
!node_modules/fs.realpath
!node_modules/minimatch
!node_modules/brace-expansion
!node_modules/concat-map
!node_modules/balanced-match
!node_modules/inherits
!node_modules/path-is-absolute
!node_modules/inflight
!node_modules/wrappy
!node_modules/once
!node_modules/json-stable-stringify
!node_modules/typescript