.chat-gpt {
  background-color: #343541;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .list {
    padding: 10px;
    padding-bottom: 50px;
    flex: 1;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .promptIcon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
  }
  .promptWrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    .prompt {
      display: flex;
      flex-direction: row-reverse;
      background: #10a37f;
      border-radius: 8px 0px 8px 8px;
      word-wrap: break-word;
      white-space: pre-wrap;
      word-break: break-all;
      color: #ffffff;
      padding: 12px;
      max-width: 80%;
    }
  }
  .resIcon {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
  }
  .resWrapper {
    max-width: 80%;
    margin-bottom: 20px;
    position: relative;
    .res {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 0px 8px 8px 8px;
      padding: 12px;
      color: #ffffff;
    }
    .itemBtns {
      position: absolute;
      right: 20px;
      top: -17px;
      transition: all 0.3s ease;
      opacity: 0;
      display: flex;
      color: #ffffff;
      font-size: 12px;
      .btn {
        cursor: pointer;
        margin-left: 10px;
      }
    }
    &:hover {
      .itemBtns {
        opacity: 1;
        right: 10px;
        .btn {
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    .resWrapper {
      max-width: 100%;
    }
  }
  .footer {
    padding: 0px 8px 8px 8px;
    width: 100%;
    .form-wrapper {
      position: relative;
      border-radius: 8px;
      background: #494a53;
      border: 1px solid rgba(255, 255, 255, 0.32);
      border-radius: 8px;
      padding: 8px;
      .input {
        min-height: 36px;
        line-height: 20px;
        background: #494a53;
        border: none;
        padding: 0;
        padding-right: 40px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #ffffff;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 8px;
        right: 8px;
        width: 36px;
        height: 36px;
        background: #10a37f;
        border-radius: 4px;
        cursor: pointer;
        .animateSpin {
          color: white;
        }
        &Wait {
          cursor: wait;
        }
      }
    }
  }
}
