import React from 'react';
import { usePresenter } from './presenter';

const View = () => {
  const presenter = usePresenter();
  const { model } = presenter;

  return <div>123</div>;
};

export default View;
